// FONT FAMILY 

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Broken+Fax&display=swap');
  @import 'bootstrap/dist/css/bootstrap.min.css';
// COLORS

$body_color: #F8F8EF;
$header_text_color: #131313;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $body_color;
}


* {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}




.custon_container {
  padding: 11rem 3rem 5rem 3rem;
}

// HEADER 

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 7rem;

    gap: 5rem;

    li {
        font-size: 1.6rem;
        list-style: none;
    }
    a {
        color: $header_text_color;
        text-decoration: none;
    }
}

.header_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.6rem;
    padding-bottom: 1rem;
    background-color: $body_color;
    position: fixed;
    width: 100%;
    z-index: 100;
}

// MENU WINDOW 

.menu_window {
    width: 100%;
    height: auto;
    background-color: $body_color;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 2rem;
        }
        li {
            list-style: none;
        }
        a {
            font-size: 5rem;
            text-decoration: none;
            color: #000;
        }
        img {
            width: 3rem;
            margin-left: 1.3rem;
        }
}

#menu_w_div {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
}

.menu_btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.menu_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1rem;
        margin-right: .6rem;
    }
}

// FOOTER 

.footer_body {
    margin-top: 12rem;
}

.footer_img_div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    img {
        width: calc(100% / 5);
    }
}

.footer_content {
    background-color: $header_text_color;
    padding-top: 4.1rem;
    img {
        margin-left: .3rem;
    }
}
.foooter_logo_div {
    h1 {
    font-size: 24.2rem;
    color: #F8F8EF;
    padding: 0;
    text-align: center;
    }
}
.footer_contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            margin-left: 3.3rem;
        }
        a {
        color: #acacac;
        font-size: 1.6rem;
        }
    }
}
.footer_address {
    margin-top: 9.2rem;
    ul {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
    }
    li {
        font-size: 1.4rem;
        color: #acacac;
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        text-align: start;

        strong {
            font-size: 1.6rem;
            color: #F8F8EF;
        }
    }
}
.footer_hr {
    margin: 3.5rem 0 2.5rem;
}
.last_address {
    color: #F8F8EF;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}


// HEADER 

@media screen and (max-width: 376px) {

    .header_body {
        width: 100%;
    }
    .header_content {
        img {
            display: none;
        }
    }
    .logoBtn {
        width: 60%;
    }
}
.second_part_txt {
    width: 100%;
    margin: 0 !important;
    p {
        margin: 0 !important;
    }
}


// FOOTER 

@media screen and (max-width: 376px) {
    
    .footer_body {
        width: 100%;
    }
    .foooter_logo_div {
        h1 {
            font-size: 60px;
        }
    }

    html {
        font-size: 5px;
    }
}

