@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

.article-rt1 {
  display: flex;
  align-items: end;

  h3 {
    justify-content: flex-start;
    color: #000;
    width: 42.7rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 39px */
    margin: 0 2.3rem 2.3rem 5.5rem;
  }
  p {
    width: 42.3rem;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0 2.3rem 2.3rem 5.5rem;
  }
  // img {
  //   justify-content: end;
  //   margin-right: 5.5rem;
  // }
}

.katalog {
  height: 430px;
  background-color: #000;
  margin-top: 16.9rem;
  display: flex;
  justify-content: space-around;
}
.ktlg-logo {
  display: flex;
  flex-direction: row;
  gap: 3.4rem;
  // margin-left: 76px;
  align-items: center;
  h3 {
    color: #f8f8ef;
    width: 42.9rem;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 54px */
  }
  img {
    width: 12.3rem;
    height: 10.3rem;
    margin-bottom: 2.5rem;
  }
}
.ktlg-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  p {
    width: 36.2rem;
    color: #f8f8ef;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  button {
    width: 18rem;
    height: 5rem;
    border-radius: 6.7rem;
    background: #f8f8ef;
    margin-right: 17rem;
    color: #131313;
    font-family: "Work Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.h3Retail h3 {
  color: #131313;
  padding: 6rem 0 2rem 7.6rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500 ;
  line-height: normal;
}
.shops {
  display: flex;
  flex-direction: row;
  gap: 1.9rem;
  margin: 0 5.5rem 13.5rem 5.5rem;
}

.shop {
  display: flex;
  flex-direction: column;
  img {
    margin-bottom: 4.5rem;
  }

  p {
    color: #131313;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2.4rem 11.7rem 2.4rem 0;
  }
}


@media screen and (max-width:376px){
  // .section-retail{
  //   display: flex;
  //   flex-direction: column;
  // }
  .article-rt1{
    flex-direction: column;
  }
  

  .shops{
    flex-direction: column;
  }
  .shop{
    flex-direction: column;
  }
  .katalog{
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    height: fit-content;
  }
  .ktlg-logo{
    margin-left: 20px;
    margin-bottom: 30px;
  }
  
}