.section-about {
  h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.article-ab1 {
  display: flex;
  flex-direction: column;
  // justify-content: end;
  align-items: end;
  border-bottom: solid 1px;
  img {
    margin-top: 4.6rem;
    margin-right: 5.1rem;
  }
  p {
    width: 68.9rem;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 4.3rem;
    margin-bottom: 15px;
    margin-right: 25rem;
  }
  span {
    width: 67rem;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-right: 27rem;
    margin-bottom: 11rem;
  }
}

.article-ab2 {
  display: flex;
  img {
    justify-content: end;
    align-items: end;
  }
  h3 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p {
    flex-direction: column;
    justify-content: start;
    width: 358px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    // margin-bottom: 1.5rem;
    padding: 44px 92px 15px 55px;
  }
  span {
    flex-direction: column;
    justify-content: start;
    width: 300px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    // padding: 0 92px 260px 55px;
  }
}
