.section-about {
  h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h3{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  p{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
}

.article-ab1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-bottom: solid 1px;
  img {
    margin-top: 4.6rem;
    margin-right: 5.1rem;
  }
  p {
    width: 68.9rem;
    margin-top: 4.3rem;
    margin-bottom: 15px;
    margin-right: 25rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  span {
    width: 67rem;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-right: 27rem;
    margin-bottom: 11rem;
  }
}

.article-ab2 {
  display: flex;
  border-bottom: solid 1px;
  img {
    justify-content: end;
    align-items: end;
    margin: 46px 0;
  }
  h3 {
    margin: 46px 0 44px 55px;
  }
  p {
    flex-direction: column;
    justify-content: start;
    width: 358px;
    padding: 0 92px 15px 55px;
  }
}

.article-ab3{
  display: flex;
  border-bottom: solid 1px;
  img{
    justify-content: start;
    align-items: start;
    margin: 46px 0;
  }
  h3{
    margin: 46px 171px 46px 30px;
  }

  p{
    flex-direction: column;
    justify-content: end;
    width: 382px;
    padding: 0 92px 15px 30px;
  }
}
.article-ab4{
  display: flex;
  border-bottom: 1px solid;
  img{
    margin: 36px 0 55px 0;
    justify-content: end;
    align-items: end;
  }
  h3{
    margin: 36px 140px 46px 55px;
  }
  p{
    width: 404px;
    flex-direction: column;
    justify-content: start;
    width: 382px;
    padding: 0 46px 15px 55px;
  }
}

.article-ab5{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  img{
    justify-content: center;
  align-items: center;
  margin: 0 55px;
  }
  h1{
    margin: 36px 239px 46px 55px;
  }
  p{
    width: 750px;
    padding: 44px 0 46px 55px;
  
  }
}


@media screen and (max-width:391px) {
  .section-about{
    display: flex;
    flex-direction: column;
    // margin: 0 -22px !important;
    h1{
      font-size: 35px;
    }
    h3{
      font-size: 35px;
    }
    img{
      width: 100%;
    }
  }
  .article-ab1{
    // margin-left: -22px;
 
    img{
      margin-right: 0px;
    }
    p{
      margin-right: 0px;
    }
    span{
      margin-right: 8px;
    }
  }
  .article-ab2{
    flex-direction: column;
  }
  .article-ab3{
    flex-direction: column;
  }
  .article-ab4{
    flex-direction: column;
  }
}