.article_img{
    img{
        width: 43rem;
        float: left;
    }
    p{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1.4rem;
        font-weight: 600;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        padding-left: 5.6rem;
    }
}
.section{
    display: flex;
    flex-direction: column;
}

.erkoyun {
    text-align: start;
}