.exportBody {
    h2 {
        font-size: 4rem;
        font-weight: 400;
        border-bottom: 1px solid;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
    }
    .heroContent {
    img {
        width: 100%;
    }
    }
}

.exportContent1 {
    display: flex;
    margin-top: 5rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    div {
        width: 50%;
        padding: 5rem 5rem !important;
    }
    .rightBorder {
        border-right: 1px solid;
    }
    h3 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        width: 58rem;
    }
}
.exportContent2 {
    display: flex;
    .imgDiv2 {
        width: 50%;
        border-right: 1px solid;
        padding-top: 5rem;
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 5rem;
    
    }
}

.exportForm {
    width: 50%;
    padding-top: 10rem;
    padding-left: 5rem;
    border-bottom: 1px solid;
    padding-bottom: 5rem;


    h5 {
        font-size: 4rem;
        font-weight: 500;
    }
    textarea {
        width: 40rem;
        margin-top: 3rem;
        background-color: unset;
        padding: 0 5rem 5rem 0;
        border: none;
        border-bottom: 1px solid;
        font-size: 1.5rem;

    }

    form {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;

        align-items: center;
        // justify-content: center;
        padding-top: 5rem;
        

        input {
            width: 30rem;
            background-color: unset;
            border: none;
            padding: 1rem 5rem 1rem 0;
            border-bottom: 1px solid;
            font-size: 1.5rem;
            margin-top: 3rem;

        }


        div {
            display: flex;
            justify-content: space-around;
            gap: 5rem;
        }
    }

    article {
        width: 58rem;
        font-size: 1.6rem;
        padding-top: 9rem;
    }
}
.ExportBtnDiv {
    button {
        margin-top: 3rem;
        padding: 1rem 4rem;
        border-radius: 3rem;
        font-size: 1.2rem;
        background-color: #131313;
        color: #f8f8ef;
    }
}