.article_img{
    display: flex;
    // justify-content: space-between;
    // gap: 5rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
    .articleImgDiv {
        width: 50%;
        background-size: cover;
        margin: 3rem;
        img{
            display: none;
        }
    }
    .makaraImg2{
        background-image: url(../../img/images/makara_img/img1.jpg);
    }
    // img{
    //     padding: 2rem 0;
    //     width: 100%;
    // }
    p{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1.4rem;
        font-weight: 600;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
        padding-left: 5.6rem;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;

        line-height: 3rem;
    }
   
}



.border_div{
    border-left: 1px solid;
}
   

.makara_section{
    h1{
        font-weight: 500;
    }
    display: flex;
    flex-direction: column;
    hr{
       margin: 3.5rem 0;
    }
}

.erkoyun {
    text-align: start;
}


.pastas_makara {
    display: flex !important;
    padding-left: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    border-top: 1px solid;
    div {
        border-right: 1px solid;
        border-bottom: 1px solid;
        width: fit-content;

        img {
            padding: 1rem;
            width: 43rem;
            height: 43.8rem;
        }
    }
    p{
        padding: 1.27rem;
        color: #131313;
       font-size: 18px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
        
    }
}
.noRborder {
    border-right: unset !important;
}

    @media screen and (max-width: 391px){
        .pastas_makara{
            div {
                border-right: none;
            }
        }
    }
    

    
                
