.border-bottom {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
  font-size: 40px;
}
.img1 {
  width: 1192px;
  height: 790px;
  flex-shrink: 0;
  margin-top: 30px;
}

.section {
  margin-left: 60px;
  h1 {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
  p {
    width: 84.9rem;
    height: 22rem;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-align: start;
    margin-top: 3rem;
  }
}
.parent {
  // margin-left: 60px;
  .hektar {
    display: flex;
    justify-content: space-between;

    span {
      color: #131313;
      font-size: 13rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .sahe {
    display: flex;
    justify-content: start;
    gap: 603px;
    span {
      color: #131313;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 10px;
    }
  }
}
.section {
  h3 {
    color: #131313;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 135px 0 19px 0;
    text-align: start;
  }
}
.imgs {
  display: flex;
  gap: 20px;
}

.imags {
  width: 1326px;
  height: 580px;
  background: #d5d5d5;
}
