.border-bottom {
  border-bottom: 1px solid #000000;
  padding-bottom: 2rem;
  font-size: 4rem;
}
.img1 {
  width: 119.2rem;
  height: 79rem;
  flex-shrink: 0;
  margin-top: 3rem;
}
.img1Div{
  width: fit-content;
}

.section {
  margin-left: 6rem;
  h1 {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
  p {
    width: 84.9rem;
    height: 22rem;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-align: start;
    margin-top: 3rem;
  }
}
.parent {
  // margin-left: 60px;
  .hektar {
    display: flex;
    justify-content: space-between;

    span {
      color: #131313;
      font-size: 13rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .sahe {
    display: flex;
    justify-content: start;
    gap: 60.3rem;
    span {
      color: #131313;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 1rem;
    }
  }
}
.section {
  h3 {
    color: #131313;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 13.5rem 0 1.9rem 0;
    text-align: start;
  }
}
.mehsullar_section {
  display: flex;
  justify-content: space-between;
  a {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid;
      padding: 2rem 0;
  }
  a {
      font-size: 2rem;
      font-weight: 500;
      color: #000;
  }
}
.mehsullar_div {
  width: fit-content;
  position: relative;

}
.mehsul_img {
  .mehsul_header {
  content: 'Ət məhsulları';
  position: absolute;
  text-align: center;
  font-weight: 500;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  width: 100%;
}
}
.altbashliq {
  font-size: 4rem;
  margin-top: 17rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.imags {
  // // width: 132.6rem;
  // height: 58rem;
  background: #d5d5d5;
}


@media screen and (max-width:376px){
  .img1{
  visibility:hidden;
  }
.img1Div{
  width: 100%;
  background-image: url(../../img/images/production_pg/Mask55.png) ;
  background-size: cover;
  background-color: red;
}
.hektar{
  flex-direction: column;
}
.sahe{
  // flex-direction: column;
  // justify-content: unset;
  // gap: 0px !important;
  display: none;
}
.imags{
  display: grid;
  
  // flex-direction: column;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto auto;
 position: relative;
  // // flex-wrap: wrap !important;

}
.item1{
//  width: 100%;
// align-items: center;
width: 12.7rem;
// justify-content: center;
margin-left: 2rem;
justify-self: center;

}
.item2{
  //  width: 100%;
  // align-items: center;
  width: 19.9rem;
  // justify-content: center;
  justify-self: center;
  margin-right: 2rem;
  }
.item{
  justify-self: center;
  grid-column: span 2;
  width: 100%;
  // margin-left: 6rem;
}
 html{
  font-size: 12px;
 }
 .section{
  p{
    width: 100%;
 height: auto;
  }
 }
}